:root {
    --my-color-yellow: #E2B240;
    --my-color-lightBrown: #4B3A32;
    --my-color-darkBrown: #241A17;
    --my-color-gray: #DDDAD3;
    --my-color-darkYellow: #BC8B1E;
}

* {
    outline: 1px solid;
}

.design {
    width: 100%;
    position: absolute;
    height: auto;
    opacity: 0.5;
    z-index: -1;
}


/* ------ 全域 ------ */

img {
    width: 100%;
}

body {
    background-image: url("./image/bg-body.png")
}

.center {
    justify-content: center;
}

[class^="col"]>div {
    padding-left: 20px;
    padding-right: 20px;
}

.own-container {
    padding: 0;
}

.space-around {
    justify-content: space-around;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}


/* -------- header -------- */

header {
    border-bottom: 1px solid #fff;
    padding: 35px 0;
    background-color: var(--my-color-darkBrown);
}

.nav {
    margin-left: auto;
}

header a {
    color: #fff;
    font-size: 18px;
}

header .collapse {
    margin-top: 10px;
}


/* -------------section banner------------- */

.chair,
.article-content {
    padding: 0;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}

.chair {
    background-image: url("./image/chair.jpg");
}

article .article-content {
    padding: 60px 60px 0;
    background-size: cover;
    color: var(--my-color-darkBrown);
    background-image: url("./image/bg-pattern.jpg");
}

.article-content h2 {
    text-align: center;
    font-size: 32px;
    margin: 20px 0 30px;
    line-height: 1.4;
}

.article-content p {
    display: -webkit-box;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    font-size: 16px;
    text-align: justify;
    line-height: 1.4;
}